p {
    font-size: 2rem;
}
.main-content {
    padding-top: 5rem;
}

.continue {
    padding: 0 2rem 1rem 2rem;
    padding-top: 2rem;
}


.continue-button {
    background-color: #27aa2b;
    text-align: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-radius: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    p {
        font-size: 3rem;
    }
    .main-content {
        padding-top: 10rem;
    }
}
